cairocffi==1.3.0; python_version >= "3.7"
cairosvg==2.5.2; python_version >= "3.5"
certifi==2022.5.18.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3"
cssselect2==0.6.0; python_version >= "3.7"
defusedxml==0.7.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
importlib-metadata==4.11.4; python_version >= "3.7"
pillow==9.1.1; python_version >= "3.7"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pyrandr @ git+https://github.com/cakturk/pyrandr.git@master
python-gettext==4.0
python-pacman==0.6.0
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
tinycss2==1.1.1; python_version >= "3.7"
ttkbootstrap==1.8.0; python_version >= "3.7"
typing-extensions==4.2.0; python_version < "3.8" and python_version >= "3.7"
urllib3==1.26.9; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
vdf==3.4
webencodings==0.5.1; python_version >= "3.7"
zipp==3.8.0; python_version >= "3.7"
